
@model List<STCAPI.Core.Entities.VATDetailUpload.InputVATDataFile>

 
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-md-3">
                <a asp-action="GetDetails" asp-route-fileName="input" asp-controller="Home" class="btn btn-primary">Input VAT File Details</a>
            </div>
            <div class="col-md-3">
                <a asp-action="GetDetails" asp-route-fileName="output" asp-controller="Home" class="btn btn-info">Output VAT File Details</a>
            </div>
            <div class="col-md-3">
                <a asp-action="GetDetails" asp-route-fileName="return" asp-controller="Home" class="btn btn-danger">VAT Return File Details</a>
            </div>
            <div class="col-md-3">
                <a asp-action="GetDetails" asp-route-fileName="trial" asp-controller="Home" class="btn btn-warning">VAT Trial Balance File Details</a>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">


                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">@ViewBag.PageName</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="overflow-y :auto">
                        <table id="example1" class="table table-bordered table-striped fc-scroller">
                            <thead>
                                <tr>
                                    <th>
                                        Invoice Type
                                    </th>
                                    <th>
                                        Invoice Source
                                    </th>
                                    <th>
                                        Invoice Number
                                    </th>

                                    <th>
                                        Invoice Date
                                    </th>
                                    <th>
                                        Invoice GL Date
                                    </th>
                                    <th>
                                        Total Invoice Amount
                                    </th>

                                    <th>
                                        Invoice Currency
                                    </th>
                                    <th>
                                        Exchange Rate
                                    </th>
                                    <th>
                                        SAR Invoice
                                    </th>
                                    <th>
                                        Supplier Number
                                    </th>
                                    <th>
                                        Supplier Name
                                    </th>

                                    <th>
                                        Supplier Site
                                    </th>
                                    <th>
                                        Supplier Address
                                    </th>
                                    <th>
                                        Supplier Country
                                    </th>

                                    <th>
                                        Supplier Bank Account
                                    </th>
                                    <th>
                                        Supplier VAT Registration
                                    </th>
                                    <th>
                                        Invoice Status
                                    </th>

                                    <th>
                                        Payment Status
                                    </th>
                                    <th>
                                        Payment Amount
                                    </th>
                                    <th>
                                        Payment Method
                                    </th>
                                    <th>
                                        Payment Term
                                    </th>
                                    <th>
                                        Invoice Line mnumber
                                    </th>
                                    <th>
                                        Invoice Line Description
                                    </th>
                                    <th>
                                        Po number
                                    </th>
                                    <th>
                                        PoDate
                                    </th>
                                    <th>Release Date</th>
                                    <th>Receipt Number</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                   {
                                <tr>
                                    <td>@item.InvoiceType</td>
                                    <td>@item.InvoiceSource</td>
                                    <td>@item.InvoiceNumber</td>
                                    <td>@item.InvoiceDate</td>
                                    <td>@item.GLDate</td>

                                    <td>@item.TotalInvoiceAmount</td>
                                    <td>@item.InvoiceCurrency</td>
                                    <td>@item.CurrencyExchangeRate</td>
                                    <td>@item.SARInvoiceAmount</td>
                                    <td>@item.SuppierNumber</td>
                                    <td>@item.SupplierName</td>
                                    <td>@item.SupplierSite</td>
                                    <td>@item.SupplierAddress</td>
                                    <td>@item.SupplierCountry</td>
                                    <td>@item.SupplierBankAccount</td>
                                    <td>@item.SupplierVATRegistrationNumber</td>
                                    <td>@item.InvoiceStatus</td>
                                    <td>@item.PaymentStatus</td>
                                    <td>@item.PaymentAmount</td>
                                    <td>@item.PaymentMethod</td>
                                    <td>@item.PaymentTerm</td>
                                    <td>@item.InvoiceLineNumber</td>
                                    <td>@item.InvoiceLineDescription</td>
                                    <td>@item.PONumber</td>
                                    <td>@item.PoDate</td>
                                    <td>@item.ReleaseDate</td>
                                    <td>@item.ReceiptNumber</td>

                                </tr>
                                   }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>




@*<div class="row">
        <div class="col-md-12">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            Invoice Type
                        </th>
                        <th>
                            Invoice Source
                        </th>
                        <th>
                            Invoice Number
                        </th>

                        <th>
                            Invoice Date
                        </th>
                        <th>
                            Invoice GL Date
                        </th>
                        <th>
                            Total Invoice Amount
                        </th>

                        <th>
                            Invoice Currency
                        </th>
                        <th>
                            Exchange Rate
                        </th>
                        <th>
                            SAR Invoice
                        </th>
                        <th>
                            Supplier Number
                        </th>
                        <th>
                            Supplier Name
                        </th>

                        <th>
                            Supplier Site
                        </th>
                        <th>
                            Supplier Address
                        </th>
                        <th>
                            Supplier Country
                        </th>

                        <th>
                            Supplier Bank Account
                        </th>
                        <th>
                            Supplier VAT Registration
                        </th>
                        <th>
                            Invoice Status
                        </th>

                        <th>
                            Payment Status
                        </th>
                        <th>
                            Payment Amount
                        </th>
                        <th>
                            Payment Method
                        </th>
                        <th>
                            Payment Term
                        </th>
                        <th>
                            Invoice Line mnumber
                        </th>
                        <th>
                            Invoice Line Description
                        </th>
                        <th>
                            Po number
                        </th>
                        <th>
                            PoDate
                        </th>
                        <th>Release Date</th>
                        <th>Receipt Number</th>
                        <th>Receipt Date</th>
                        <th>PO item number</th>
                        <th>PO item Description</th>

                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Discount Amount</th>
                        <th>Discount Percentage</th>
                        <th>Contract Number</th>

                        <th>Contract Start Date</th>
                        <th>Contract End Date</th>
                        <th>Tax Line Number</th>
                        <th>Product Type</th>
                        <th>Tax Code</th>

                        <th>Tax Rate Code</th>
                        <th>TaxRate</th>
                        <th>Tax Able Amount</th>
                        <th>SAR Taxable Amount</th>
                        <th>NonRecover Taxable Amount</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>*@